* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}

.animation-container {
    position: absolute;
    opacity: 0.5;
    overflow: hidden;
    height:  calc(100vh - 10rem);
    width: 100%;
}

