.skills-container {
    background-color: #0a0f12;
    padding: 0 15% 8rem 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.skills-container h1 {
    color: #E6B17E;
    font-size: 3.6rem;
    font-weight: 600;
    padding: 0 0 6rem 0
}

.skills-content {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
}

.skill-container {
    color: #eae0d5;
    border: 0.3rem solid #E6B17E;
    padding: 2rem 3rem;
    border-radius: 2rem;
}

.skill-container h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.skill-container ul {
    list-style-position: outside;
    margin-left: 2rem;
}

.skill-container li {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    word-wrap: break-word;
}

.list-content {
    list-style-type: none;
    list-style-position: outside;
    color: #968a7e;
}

.up_arrow {
    stroke-width: 0.1rem;
    width: 5rem;
    stroke: #a88768;
    margin: 5rem 0 0 0;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .skills-container {
        background-color: #0a0f12;
        padding: 0 5rem 8rem 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 700px) {
    .skills-content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .skill-container h2 {
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }

    .skill-container li {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        font-weight: 600;
        word-wrap: break-word;
    }
    
}