.colors {
    color: #2C3639;
    color: #3F4E4F;
    color: #E6B17E;
    color: #DCD7C9;

    color: #22333b;
    color: #0a0f12;
    color: #eae0d5;
    color: #c6ac8f;
    color: #5e503f;
}




























